<% presenter = PostPresenter.new(post) %>

<div id="<%= dom_id post %>" class="w-full sm:w-auto my-5 space-y-5 bg-white p-6 rounded-xl shadow border border-gray-100">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= presenter.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= presenter.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Excerpt:</strong>
    <%= presenter.excerpt %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= presenter.published_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= presenter.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Author:</strong>
    <%= presenter.author_name %>
  </div>
</div>
