<ul class="hidden md:flex space-x-8 font-medium text-gray-700">
  <li><%= link_to "Home", root_path, class: "hover:text-indigo-600 transition #{'text-indigo-600 font-bold' if current_page?(root_path)}" %></li>
  <li><%= link_to "Blog", posts_path, class: "hover:text-indigo-600 transition #{'text-indigo-600 font-bold' if current_page?(posts_path)}" %></li>

  <% if current_member&.admin? %>
    <li><%= link_to "Dashboard", admin_dashboard_path, class: "hover:text-indigo-600 transition #{'text-indigo-600 font-bold' if current_page?(admin_dashboard_path)}" %></li>
    <li><%= link_to "Courses", admin_courses_path, class: "hover:text-indigo-600 transition #{'text-indigo-600 font-bold' if current_page?(admin_courses_path)}" %></li>
    <li><%= link_to "Subscriptions", subscriptions_path, class: "hover:text-indigo-600 transition #{'text-indigo-600 font-bold' if current_page?(subscriptions_path)}" %></li>
  <% else %>
    <li><%= link_to "Courses", courses_path, class: "hover:text-indigo-600 transition #{'text-indigo-600 font-bold' if current_page?(courses_path)}" %></li>
  <% end %>
</ul>
